<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Easter Egg</title>
</head>
<body>
    <h1>CONGRATULATIONS!</h1>
    <h2>You found the easter egg!</h2>
    <h3>Who is Ryan in computer science? I am a growing and evolving coder that understands REST APIs and data curation, can build a flask web server (still working on deploying it), and is beginning to develop skill with backend and frontend work (HTML & SQL).</h3>
    <h4>Who si Bryce in computer science?</h4>
</body>
</html>