<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Easter Egg</title>
</head>
<body>
    <h1>CONGRATULATIONS!</h1>
    <h2>You found the easter egg!</h2>
    <h3>Who is Ryan in computer science? I am a growing and evolving coder that understands REST APIs and data curation, can build a flask web server (still working on deploying it), and is beginning to develop skill with backend and frontend work (HTML & SQL).</h3>
    <h4>Who is Bryce in computer science? I am a leader who coordinates tasks for the group. I am most knowledgeable in HTML front end development and JAVA backend connections. I am also adept in integrating Back-end Python code that advances the level of our project.</h4>
</body>
</html>