<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Easter Egg</title>
    <style>
        h1 {text-align: center;}
        h2 {text-align: center;}

    div {
        border: 1px solid black;
        background-color: white;
        padding-top: 50px;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 50px;
        }
    </style>
</head>
<body>
    <body style="background-color:#f4511e"></body>
    <h1>CONGRATULATIONS!</h1>
    <h2>You found the easter egg!</h2>

    <div>Who is Ryan in computer science? I am a growing and evolving coder that understands REST APIs and data curation, can build a flask web server (still working on deploying it), and is beginning to develop skill with backend and frontend work (HTML & SQL).
        <br>
        <br>
         Who is Bryce in computer science? I am a leader who coordinates tasks for the group. I am most knowledgeable in HTML front end development and JAVA backend connections. I am also adept in integrating Back-end Python code that advances the level of our project.
        <br>
        <br>
         Who is Colin in computer science? I am a new coder who has learned to create and customize websites, work for front and back end, and build a flask web server.
        <br>
        <br>
         Who is Gavin in computer science? I am essentially the idea creator who helps a little bit in each section of the code. Support in the front end, backend, and spent a good amount of time working on databases.
    </div>
</body>
</html>