<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel='stylesheet' href="/static/styles/base.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="shortcut icon" href="/static/assets/finalncslogo.png"
          type="image/x-icon">
    <link rel="icon" href="/static/assets/finalncslogo.png"
          type="image/x-icon">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176812433-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-176812433-1');
    </script>



</head>



<body style="font-family: gilroyLIGHT; color: var(--gray);" >





<div class="row justify-content-left" style="margin: 2%;">
    <h1><strong>COVID-19 Table</strong></h1>
    <form action=/healthylunches>
        <button>Update</button>
    </form>
</div>
<div class="countries" style="height: 35vh;">
    <table style="margin: 2%">
        <tr>
            <th>Time</th>
        </tr>
        <tr>
            <p>Last updated: <span id="datetime"></span></p>
            <script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleTimeString();
</script>
        </tr>
    </table>
    <table style="margin: 2%">
        <tr>
            <th>Country</th>
            <th>All-time Cases....</th>
            <th>Total Deaths......</th>
            <th>Active Cases......</th>
        </tr>
        <tr>
            <td>World</td>
            <td> 97,257,303 </td>
            <td> 2,080,972 </td>
            <td> 25,361,207 </td>
        </tr>

        <tr>

            <td>USA</td>

            <td>24,983,892</td>

            <td>415,442</td>

            <td>9,608,862</td>
        </tr>

        <tr>

            <td>India</td>

            <td>10,611,719</td>

            <td>152,906</td>

            <td>193,650</td>
        </tr>

        <tr>

            <td>Brazil</td>

            <td>8,639,868</td>

            <td>212,893</td>

            <td>862,353</td>
        </tr>

        <tr>

            <td>Russia</td>

            <td>3,633,952</td>

            <td>67,220</td>

            <td>539,416</td>
        </tr>

        <tr>

            <td>UK</td>

            <td>3,505,754</td>

            <td>93,290</td>

            <td>1,840,945</td>
        </tr>

        <tr>

            <td>France</td>

            <td>2,965,117</td>

            <td>71,652</td>

            <td>2,680,223</td>
        </tr>

        <tr>

            <td>Italy</td>

            <td>2,414,166</td>

            <td>83,681</td>

            <td>523,553</td>
        </tr>

        <tr>

            <td>Spain</td>

            <td>2,412,318</td>

            <td>54,637</td>

            <td>N/A</td>
        </tr>

        <tr>

            <td>Turkey</td>

            <td>2,406,216</td>

            <td>24,487</td>

            <td>97,810</td>
        </tr>

        <tr>

            <td>Germany</td>

            <td>2,090,161</td>

            <td>50,296</td>

            <td>298,065</td>
        </tr>

        <tr>

            <td>Colombia</td>

            <td>1,956,979</td>

            <td>49,792</td>

            <td>121,017</td>
        </tr>

        <tr>

            <td>Argentina</td>

            <td>1,831,681</td>

            <td>46,216</td>

            <td>171,692</td>
        </tr>

        <tr>

            <td>Mexico</td>

            <td>1,668,396</td>

            <td>142,832</td>

            <td>273,782</td>
        </tr>

        <tr>

            <td>Poland</td>

            <td>1,450,747</td>

            <td>34,141</td>

            <td>209,247</td>
        </tr>

        <tr>

            <td>South Africa</td>

            <td>1,369,426</td>

            <td>38,854</td>

            <td>170,160</td>
        </tr>

        <tr>

            <td>Iran</td>

            <td>1,348,316</td>

            <td>57,057</td>

            <td>153,447</td>
        </tr>

        <tr>

            <td>Ukraine</td>

            <td>1,172,038</td>

            <td>21,258</td>

            <td>250,031</td>
        </tr>

        <tr>

            <td>Peru</td>

            <td>1,073,214</td>

            <td>39,044</td>

            <td>44,803</td>
        </tr>

        <tr>

            <td>Indonesia</td>

            <td>939,948</td>

            <td>26,857</td>

            <td>149,388</td>
        </tr>

        <tr>

            <td>Netherlands</td>

            <td>927,110</td>

            <td>13,248</td>

            <td>N/A</td>
        </tr>

        <tr>

            <td>Czechia</td>

            <td>909,131</td>

            <td>14,820</td>

            <td>126,561</td>
        </tr>

        <tr>

            <td>Canada</td>

            <td>724,995</td>

            <td>18,448</td>

            <td>68,392</td>
        </tr>

        <tr>

            <td>Romania</td>

            <td>700,898</td>

            <td>17,485</td>

            <td>47,542</td>
        </tr>

        <tr>

            <td>Belgium</td>

            <td>681,250</td>

            <td>20,554</td>

            <td>613,370</td>
        </tr>

        <tr>

            <td>Chile</td>

            <td>680,740</td>

            <td>17,594</td>

            <td>24,055</td>
        </tr>

        <tr>

            <td>Iraq</td>

            <td>610,598</td>

            <td>12,968</td>

            <td>22,710</td>
        </tr>

        <tr>

            <td>Portugal</td>

            <td>581,605</td>

            <td>9,465</td>

            <td>143,776</td>
        </tr>

        <tr>

            <td>Israel</td>

            <td>575,842</td>

            <td>4,181</td>

            <td>83,272</td>
        </tr>

        <tr>

            <td>Sweden</td>

            <td>537,967</td>

            <td>10,797</td>

            <td>N/A</td>
        </tr>

        <tr>

            <td>Bangladesh</td>

            <td>529,687</td>

            <td>7,950</td>

            <td>47,265</td>
        </tr>

        <tr>

            <td>Pakistan</td>

            <td>524,783</td>

            <td>11,103</td>

            <td>35,163</td>
        </tr>

        <tr>

            <td>Philippines</td>

            <td>505,939</td>

            <td>10,042</td>

            <td>28,904</td>
        </tr>

        <tr>

            <td>Switzerland</td>

            <td>504,918</td>

            <td>8,924</td>

            <td>178,394</td>
        </tr>

        <tr>

            <td>Morocco</td>

            <td>462,542</td>

            <td>8,043</td>

            <td>16,544</td>
        </tr>

        <tr>

            <td>Austria</td>

            <td>398,096</td>

            <td>7,237</td>

            <td>16,035</td>
        </tr>

        <tr>

            <td>Serbia</td>

            <td>377,445</td>

            <td>3,810</td>

            <td>342,099</td>
        </tr>

        <tr>

            <td>Saudi Arabia</td>

            <td>365,563</td>

            <td>6,338</td>

            <td>2,048</td>
        </tr>

        <tr>

            <td>Hungary</td>

            <td>354,252</td>

            <td>11,615</td>

            <td>109,405</td>
        </tr>

        <tr>

            <td>Japan</td>

            <td>339,774</td>

            <td>4,647</td>

            <td>70,140</td>
        </tr>

        <tr>

            <td>Jordan</td>

            <td>317,405</td>

            <td>4,187</td>

            <td>10,110</td>
        </tr>

        <tr>

            <td>Panama</td>

            <td>301,534</td>

            <td>4,864</td>

            <td>53,513</td>
        </tr>

        <tr>

            <td>Nepal</td>

            <td>268,310</td>

            <td>1,975</td>

            <td>3,693</td>
        </tr>

        <tr>

            <td>Lebanon</td>

            <td>264,647</td>

            <td>2,084</td>

            <td>105,361</td>
        </tr>

        <tr>

            <td>UAE</td>

            <td>263,729</td>

            <td>762</td>

            <td>27,546</td>
        </tr>

        <tr>

            <td>Georgia</td>

            <td>249,934</td>

            <td>2,987</td>

            <td>10,025</td>
        </tr>

        <tr>

            <td>Ecuador</td>

            <td>234,315</td>

            <td>14,437</td>

            <td>20,546</td>
        </tr>

        <tr>

            <td>Belarus</td>

            <td>230,494</td>

            <td>1,610</td>

            <td>14,518</td>
        </tr>

        <tr>

            <td>Slovakia</td>

            <td>228,778</td>

            <td>3,737</td>

            <td>48,177</td>
        </tr>

        <tr>

            <td>Azerbaijan</td>

            <td>228,028</td>

            <td>3,044</td>

            <td>7,367</td>
        </tr>

        <tr>

            <td>Croatia</td>

            <td>226,550</td>

            <td>4,711</td>

            <td>3,481</td>
        </tr>

        <tr>

            <td>Bulgaria</td>

            <td>213,409</td>

            <td>8,651</td>

            <td>29,660</td>
        </tr>

        <tr>

            <td>Dominican Republic</td>

            <td>198,123</td>

            <td>2,470</td>

            <td>49,972</td>
        </tr>

        <tr>

            <td>Denmark</td>

            <td>191,505</td>

            <td>1,872</td>

            <td>15,259</td>
        </tr>

        <tr>

            <td>Bolivia</td>

            <td>191,090</td>

            <td>9,722</td>

            <td>35,831</td>
        </tr>

        <tr>

            <td>Tunisia</td>

            <td>188,373</td>

            <td>5,921</td>

            <td>46,909</td>
        </tr>

        <tr>

            <td>Costa Rica</td>

            <td>187,712</td>

            <td>2,492</td>

            <td>40,343</td>
        </tr>

        <tr>

            <td>Ireland</td>

            <td>179,324</td>

            <td>2,768</td>

            <td>153,192</td>
        </tr>

        <tr>

            <td>Lithuania</td>

            <td>172,060</td>

            <td>2,514</td>

            <td>59,095</td>
        </tr>

        <tr>

            <td>Kazakhstan</td>

            <td>171,232</td>

            <td>2,349</td>

            <td>13,486</td>
        </tr>

        <tr>

            <td>Malaysia</td>

            <td>169,379</td>

            <td>630</td>

            <td>41,087</td>
        </tr>

        <tr>

            <td>Armenia</td>

            <td>165,221</td>

            <td>3,016</td>

            <td>8,348</td>
        </tr>

        <tr>

            <td>Kuwait</td>

            <td>159,264</td>

            <td>951</td>

            <td>5,893</td>
        </tr>

        <tr>

            <td>Egypt</td>

            <td>158,963</td>

            <td>8,747</td>

            <td>25,611</td>
        </tr>

        <tr>

            <td>Moldova</td>

            <td>154,118</td>

            <td>3,299</td>

            <td>6,463</td>
        </tr>

        <tr>

            <td>Palestine</td>

            <td>153,590</td>

            <td>1,751</td>

            <td>9,835</td>
        </tr>

        <tr>

            <td>Slovenia</td>

            <td>152,851</td>

            <td>3,257</td>

            <td>20,885</td>
        </tr>

        <tr>

            <td>Guatemala</td>

            <td>151,324</td>

            <td>5,343</td>

            <td>9,737</td>
        </tr>

        <tr>

            <td>Greece</td>

            <td>149,973</td>

            <td>5,545</td>

            <td>134,439</td>
        </tr>

        <tr>

            <td>Qatar</td>

            <td>148,000</td>

            <td>248</td>

            <td>3,402</td>
        </tr>

        <tr>

            <td>Honduras</td>

            <td>136,068</td>

            <td>3,391</td>

            <td>72,477</td>
        </tr>

        <tr>

            <td>Myanmar</td>

            <td>135,721</td>

            <td>2,997</td>

            <td>13,410</td>
        </tr>

        <tr>

            <td>Oman</td>

            <td>132,317</td>

            <td>1,516</td>

            <td>6,222</td>
        </tr>

        <tr>

            <td>Ethiopia</td>

            <td>132,034</td>

            <td>2,044</td>

            <td>12,637</td>
        </tr>

        <tr>

            <td>Paraguay</td>

            <td>124,447</td>

            <td>2,556</td>

            <td>21,806</td>
        </tr>

        <tr>

            <td>Venezuela</td>

            <td>121,117</td>

            <td>1,116</td>

            <td>6,349</td>
        </tr>

        <tr>

            <td>Bosnia and Herzegovina</td>

            <td>118,717</td>

            <td>4,521</td>

            <td>25,121</td>
        </tr>

        <tr>

            <td>Nigeria</td>

            <td>114,691</td>

            <td>1,478</td>

            <td>20,877</td>
        </tr>

        <tr>

            <td>Libya</td>

            <td>111,124</td>

            <td>1,715</td>

            <td>20,479</td>
        </tr>

        <tr>

            <td>Algeria</td>

            <td>104,606</td>

            <td>2,849</td>

            <td>30,630</td>
        </tr>

        <tr>

            <td>Kenya</td>

            <td>99,444</td>

            <td>1,736</td>

            <td>15,054</td>
        </tr>

        <tr>

            <td>Bahrain</td>

            <td>98,573</td>

            <td>366</td>

            <td>2,967</td>
        </tr>

        <tr>

            <td>North Macedonia</td>

            <td>89,463</td>

            <td>2,739</td>

            <td>11,924</td>
        </tr>

        <tr>

            <td>China</td>

            <td>88,557</td>

            <td>4,635</td>

            <td>1,473</td>
        </tr>

        <tr>

            <td>Kyrgyzstan</td>

            <td>83,430</td>

            <td>1,392</td>

            <td>2,665</td>
        </tr>

        <tr>

            <td>Uzbekistan</td>

            <td>78,163</td>

            <td>620</td>

            <td>919</td>
        </tr>

        <tr>

            <td>S. Korea</td>

            <td>73,518</td>

            <td>1,300</td>

            <td>12,038</td>
        </tr>

        <tr>

            <td>Albania</td>

            <td>69,238</td>

            <td>1,291</td>

            <td>25,978</td>
        </tr>

        <tr>

            <td>Norway</td>

            <td>59,887</td>

            <td>543</td>

            <td>9,509</td>
        </tr>

        <tr>

            <td>Singapore</td>

            <td>59,197</td>

            <td>29</td>

            <td>242</td>
        </tr>

        <tr>

            <td>Ghana</td>

            <td>58,431</td>

            <td>358</td>

            <td>2,174</td>
        </tr>

        <tr>

            <td>Latvia</td>

            <td>57,808</td>

            <td>1,032</td>

            <td>14,259</td>
        </tr>

        <tr>

            <td>Montenegro</td>

            <td>56,579</td>

            <td>758</td>

            <td>8,588</td>
        </tr>

        <tr>

            <td>Sri Lanka</td>

            <td>55,189</td>

            <td>274</td>

            <td>7,700</td>
        </tr>

        <tr>

            <td>Afghanistan</td>

            <td>54,403</td>

            <td>2,363</td>

            <td>5,281</td>
        </tr>

        <tr>

            <td>El Salvador</td>

            <td>51,437</td>

            <td>1,521</td>

            <td>4,693</td>
        </tr>

        <tr>

            <td>Luxembourg</td>

            <td>49,204</td>

            <td>562</td>

            <td>2,431</td>
        </tr>

        <tr>

            <td>Finland</td>

            <td>41,166</td>

            <td>632</td>

            <td>9,534</td>
        </tr>

        <tr>

            <td>Zambia</td>

            <td>40,949</td>

            <td>585</td>

            <td>10,589</td>
        </tr>

        <tr>

            <td>Uganda</td>

            <td>38,628</td>

            <td>305</td>

            <td>24,910</td>
        </tr>

        <tr>

            <td>Estonia</td>

            <td>38,544</td>

            <td>349</td>

            <td>10,088</td>
        </tr>

        <tr>

            <td>Uruguay</td>

            <td>34,294</td>

            <td>336</td>

            <td>7,840</td>
        </tr>

        <tr>

            <td>Namibia</td>

            <td>31,253</td>

            <td>301</td>

            <td>2,726</td>
        </tr>

        <tr>

            <td>Cyprus</td>

            <td>29,472</td>

            <td>176</td>

            <td>27,239</td>
        </tr>

        <tr>

            <td>Zimbabwe</td>

            <td>29,408</td>

            <td>879</td>

            <td>9,276</td>
        </tr>

        <tr>

            <td>Mozambique</td>

            <td>29,396</td>

            <td>271</td>

            <td>9,641</td>
        </tr>

        <tr>

            <td>Australia</td>

            <td>28,740</td>

            <td>909</td>

            <td>1,887</td>
        </tr>

        <tr>

            <td>Cameroon</td>

            <td>28,010</td>

            <td>455</td>

            <td>694</td>
        </tr>

        <tr>

            <td>Sudan</td>

            <td>26,279</td>

            <td>1,603</td>

            <td>8,988</td>
        </tr>

        <tr>

            <td>Ivory Coast</td>

            <td>25,597</td>

            <td>142</td>

            <td>1,588</td>
        </tr>

        <tr>

            <td>Senegal</td>

            <td>23,642</td>

            <td>546</td>

            <td>3,366</td>
        </tr>

        <tr>

            <td>DRC</td>

            <td>21,302</td>

            <td>640</td>

            <td>5,828</td>
        </tr>

        <tr>

            <td>Cuba</td>

            <td>19,122</td>

            <td>180</td>

            <td>4,451</td>
        </tr>

        <tr>

            <td>Angola</td>

            <td>19,093</td>

            <td>444</td>

            <td>1,728</td>
        </tr>

        <tr>

            <td>Botswana</td>

            <td>18,630</td>

            <td>88</td>

            <td>3,918</td>
        </tr>

        <tr>

            <td>Madagascar</td>

            <td>18,301</td>

            <td>273</td>

            <td>419</td>
        </tr>

        <tr>

            <td>French Polynesia</td>

            <td>17,697</td>

            <td>127</td>

            <td>12,728</td>
        </tr>

        <tr>

            <td>Mauritania</td>

            <td>16,212</td>

            <td>407</td>

            <td>976</td>
        </tr>

        <tr>

            <td>Malta</td>

            <td>16,129</td>

            <td>244</td>

            <td>2,831</td>
        </tr>

        <tr>

            <td>French Guiana</td>

            <td>15,311</td>

            <td>76</td>

            <td>5,240</td>
        </tr>

        <tr>

            <td>Malawi</td>

            <td>14,851</td>

            <td>353</td>

            <td>8,292</td>
        </tr>

        <tr>

            <td>Maldives</td>

            <td>14,712</td>

            <td>49</td>

            <td>1,024</td>
        </tr>

        <tr>

            <td>Jamaica</td>

            <td>14,487</td>

            <td>331</td>

            <td>2,379</td>
        </tr>

        <tr>

            <td>Guinea</td>

            <td>14,207</td>

            <td>81</td>

            <td>704</td>
        </tr>

        <tr>

            <td>Eswatini</td>

            <td>13,789</td>

            <td>427</td>

            <td>4,710</td>
        </tr>

        <tr>

            <td>Syria</td>

            <td>13,313</td>

            <td>858</td>

            <td>5,682</td>
        </tr>

        <tr>

            <td>Tajikistan</td>

            <td>13,308</td>

            <td>90</td>

            <td>0</td>
        </tr>

        <tr>

            <td>Cabo Verde</td>

            <td>13,224</td>

            <td>121</td>

            <td>703</td>
        </tr>

        <tr>

            <td>Thailand</td>

            <td>12,653</td>

            <td>71</td>

            <td>2,961</td>
        </tr>

        <tr>

            <td>Rwanda</td>

            <td>11,860</td>

            <td>153</td>

            <td>3,895</td>
        </tr>

        <tr>

            <td>Belize</td>

            <td>11,642</td>

            <td>286</td>

            <td>445</td>
        </tr>

        <tr>

            <td>Haiti</td>

            <td>10,963</td>

            <td>240</td>

            <td>1,764</td>
        </tr>

        <tr>

            <td>Gabon</td>

            <td>10,019</td>

            <td>66</td>

            <td>221</td>
        </tr>

        <tr>

            <td>Hong Kong</td>

            <td>9,798</td>

            <td>166</td>

            <td>768</td>
        </tr>

        <tr>

            <td>Réunion</td>

            <td>9,584</td>

            <td>45</td>

            <td>486</td>
        </tr>

        <tr>

            <td>Burkina Faso</td>

            <td>9,414</td>

            <td>106</td>

            <td>1,735</td>
        </tr>

        <tr>

            <td>Andorra</td>

            <td>9,308</td>

            <td>92</td>

            <td>817</td>
        </tr>

        <tr>

            <td>Guadeloupe</td>

            <td>8,980</td>

            <td>154</td>

            <td>6,584</td>
        </tr>

        <tr>

            <td>Bahamas</td>

            <td>8,075</td>

            <td>175</td>

            <td>1,180</td>
        </tr>

        <tr>

            <td>Mali</td>

            <td>7,897</td>

            <td>318</td>

            <td>1,921</td>
        </tr>

        <tr>

            <td>Suriname</td>

            <td>7,709</td>

            <td>146</td>

            <td>653</td>
        </tr>

        <tr>

            <td>Congo</td>

            <td>7,709</td>

            <td>114</td>

            <td>1,749</td>
        </tr>

        <tr>

            <td>Trinidad and Tobago</td>

            <td>7,430</td>

            <td>133</td>

            <td>332</td>
        </tr>

        <tr>

            <td>Lesotho</td>

            <td>7,035</td>

            <td>102</td>

            <td>5,160</td>
        </tr>

        <tr>

            <td>Guyana</td>

            <td>7,015</td>

            <td>170</td>

            <td>579</td>
        </tr>

        <tr>

            <td>Mayotte</td>

            <td>6,981</td>

            <td>58</td>

            <td>3,959</td>
        </tr>

        <tr>

            <td>Aruba</td>

            <td>6,562</td>

            <td>52</td>

            <td>523</td>
        </tr>

        <tr>

            <td>Martinique</td>

            <td>6,263</td>

            <td>44</td>

            <td>6,121</td>
        </tr>

        <tr>

            <td>Nicaragua</td>

            <td>6,204</td>

            <td>168</td>

            <td>1,811</td>
        </tr>

        <tr>

            <td>Iceland</td>

            <td>5,975</td>

            <td>29</td>

            <td>116</td>
        </tr>

        <tr>

            <td>Djibouti</td>

            <td>5,913</td>

            <td>61</td>

            <td>24</td>
        </tr>

        <tr>

            <td>Equatorial Guinea</td>

            <td>5,365</td>

            <td>86</td>

            <td>88</td>
        </tr>

        <tr>

            <td>CAR</td>

            <td>4,973</td>

            <td>63</td>

            <td>25</td>
        </tr>

        <tr>

            <td>Somalia</td>

            <td>4,744</td>

            <td>130</td>

            <td>948</td>
        </tr>

        <tr>

            <td>Curaçao</td>

            <td>4,535</td>

            <td>20</td>

            <td>122</td>
        </tr>

        <tr>

            <td>Togo</td>

            <td>4,459</td>

            <td>74</td>

            <td>520</td>
        </tr>

        <tr>

            <td>Niger</td>

            <td>4,225</td>

            <td>146</td>

            <td>814</td>
        </tr>

        <tr>

            <td>Gambia</td>

            <td>3,938</td>

            <td>128</td>

            <td>113</td>
        </tr>

        <tr>

            <td>Gibraltar</td>

            <td>3,845</td>

            <td>53</td>

            <td>798</td>
        </tr>

        <tr>

            <td>South Sudan</td>

            <td>3,773</td>

            <td>64</td>

            <td>167</td>
        </tr>

        <tr>

            <td>Benin</td>

            <td>3,557</td>

            <td>46</td>

            <td>227</td>
        </tr>

        <tr>

            <td>Channel Islands</td>

            <td>3,398</td>

            <td>78</td>

            <td>213</td>
        </tr>

        <tr>

            <td>Sierra Leone</td>

            <td>3,030</td>

            <td>77</td>

            <td>844</td>
        </tr>

        <tr>

            <td>Chad</td>

            <td>3,012</td>

            <td>114</td>

            <td>720</td>
        </tr>

        <tr>

            <td>San Marino</td>

            <td>2,815</td>

            <td>65</td>

            <td>202</td>
        </tr>

        <tr>

            <td>Guinea-Bissau</td>

            <td>2,510</td>

            <td>45</td>

            <td>60</td>
        </tr>

        <tr>

            <td>Liechtenstein</td>

            <td>2,398</td>

            <td>50</td>

            <td>56</td>
        </tr>

        <tr>

            <td>New Zealand</td>

            <td>2,267</td>

            <td>25</td>

            <td>76</td>
        </tr>

        <tr>

            <td>Yemen</td>

            <td>2,115</td>

            <td>612</td>

            <td>80</td>
        </tr>

        <tr>

            <td>Comoros</td>

            <td>1,933</td>

            <td>54</td>

            <td>669</td>
        </tr>

        <tr>

            <td>Eritrea</td>

            <td>1,910</td>

            <td>6</td>

            <td>670</td>
        </tr>

        <tr>

            <td>Liberia</td>

            <td>1,901</td>

            <td>84</td>

            <td>103</td>
        </tr>

        <tr>

            <td>Sint Maarten</td>

            <td>1,677</td>

            <td>27</td>

            <td>127</td>
        </tr>

        <tr>

            <td>Mongolia</td>

            <td>1,568</td>

            <td>2</td>

            <td>533</td>
        </tr>

        <tr>

            <td>Vietnam</td>

            <td>1,544</td>

            <td>35</td>

            <td>103</td>
        </tr>

        <tr>

            <td>Burundi</td>

            <td>1,322</td>

            <td>2</td>

            <td>547</td>
        </tr>

        <tr>

            <td>Monaco</td>

            <td>1,262</td>

            <td>9</td>

            <td>203</td>
        </tr>

        <tr>

            <td>Sao Tome and Principe</td>

            <td>1,170</td>

            <td>17</td>

            <td>158</td>
        </tr>

        <tr>

            <td>Barbados</td>

            <td>1,156</td>

            <td>9</td>

            <td>654</td>
        </tr>

        <tr>

            <td>Saint Martin</td>

            <td>1,146</td>

            <td>12</td>

            <td>128</td>
        </tr>

        <tr>

            <td>Turks and Caicos</td>

            <td>1,125</td>

            <td>7</td>

            <td>187</td>
        </tr>

        <tr>

            <td>Taiwan</td>

            <td>870</td>

            <td>7</td>

            <td>94</td>
        </tr>

        <tr>

            <td>Bhutan</td>

            <td>850</td>

            <td>1</td>

            <td>218</td>
        </tr>

        <tr>

            <td>Seychelles</td>

            <td>844</td>

            <td>3</td>

            <td>229</td>
        </tr>

        <tr>

            <td>Papua New Guinea</td>

            <td>835</td>

            <td>9</td>

            <td>36</td>
        </tr>

        <tr>

            <td>Saint Lucia</td>

            <td>713</td>

            <td>8</td>

            <td>361</td>
        </tr>

        <tr>

            <td>Diamond Princess</td>

            <td>712</td>

            <td>13</td>

            <td>0</td>
        </tr>

        <tr>

            <td>Bermuda</td>

            <td>684</td>

            <td>12</td>

            <td>69</td>
        </tr>

        <tr>

            <td>Faeroe Islands</td>

            <td>650</td>

            <td>1</td>

            <td>5</td>
        </tr>

        <tr>

            <td>St. Vincent Grenadines</td>

            <td>602</td>

            <td>2</td>

            <td>481</td>
        </tr>

        <tr>

            <td>Mauritius</td>

            <td>556</td>

            <td>10</td>

            <td>28</td>
        </tr>

        <tr>

            <td>Tanzania</td>

            <td>509</td>

            <td>21</td>

            <td>305</td>
        </tr>

        <tr>

            <td>Cambodia</td>

            <td>448</td>

            <td>0</td>

            <td>56</td>
        </tr>

        <tr>

            <td>Isle of Man</td>

            <td>432</td>

            <td>25</td>

            <td>50</td>
        </tr>

        <tr>

            <td>Cayman Islands</td>

            <td>381</td>

            <td>2</td>

            <td>45</td>
        </tr>

        <tr>

            <td>Caribbean Netherlands</td>

            <td>360</td>

            <td>3</td>

            <td>113</td>
        </tr>

        <tr>

            <td>St. Barth</td>

            <td>300</td>

            <td>1</td>

            <td>95</td>
        </tr>

        <tr>

            <td>Antigua and Barbuda</td>

            <td>190</td>

            <td>6</td>

            <td>27</td>
        </tr>

        <tr>

            <td>Brunei</td>

            <td>174</td>

            <td>3</td>

            <td>2</td>
        </tr>

        <tr>

            <td>Grenada</td>

            <td>139</td>

            <td>1</td>

            <td>9</td>
        </tr>

        <tr>

            <td>British Virgin Islands</td>

            <td>114</td>

            <td>1</td>

            <td>18</td>
        </tr>

        <tr>

            <td>Dominica</td>

            <td>113</td>

            <td>0</td>

            <td>9</td>
        </tr>

        <tr>

            <td>Fiji</td>

            <td>55</td>

            <td>2</td>

            <td>0</td>
        </tr>

        <tr>

            <td>Timor-Leste</td>

            <td>53</td>

            <td>0</td>

            <td>4</td>
        </tr>

        <tr>

            <td>Macao</td>

            <td>46</td>

            <td>0</td>

            <td>0</td>
        </tr>

        <tr>

            <td>New Caledonia</td>

            <td>44</td>

            <td>0</td>

            <td>1</td>
        </tr>

        <tr>

            <td>Laos</td>

            <td>41</td>

            <td>0</td>

            <td>0</td>
        </tr>

        <tr>

            <td>Falkland Islands</td>

            <td>35</td>

            <td>0</td>

            <td>6</td>
        </tr>

        <tr>

            <td>Saint Kitts and Nevis</td>

            <td>35</td>

            <td>0</td>

            <td>2</td>
        </tr>

        <tr>

            <td>Greenland</td>

            <td>30</td>

            <td>0</td>

            <td>1</td>
        </tr>

        <tr>

            <td>Vatican City</td>

            <td>27</td>

            <td>0</td>

            <td>12</td>
        </tr>

        <tr>

            <td>Solomon Islands</td>

            <td>17</td>

            <td>0</td>

            <td>7</td>
        </tr>

        <tr>

            <td>Saint Pierre Miquelon</td>

            <td>16</td>

            <td>0</td>

            <td>0</td>
        </tr>

        <tr>

            <td>Anguilla</td>

            <td>15</td>

            <td>0</td>

            <td>0</td>
        </tr>

        <tr>

            <td>Montserrat</td>

            <td>13</td>

            <td>1</td>

            <td>0</td>
        </tr>

        <tr>

            <td>Western Sahara</td>

            <td>10</td>

            <td>1</td>

            <td>1</td>
        </tr>

        <tr>

            <td>MS Zaandam</td>

            <td>9</td>

            <td>2</td>

            <td>0</td>
        </tr>

        <tr>

            <td>Marshall Islands</td>

            <td>4</td>

            <td>0</td>

            <td>0</td>
        </tr>

        <tr>

            <td>Wallis and Futuna</td>

            <td>4</td>

            <td>0</td>

            <td>3</td>
        </tr>

        <tr>

            <td>Samoa</td>

            <td>2</td>

            <td>0</td>

            <td>0</td>
        </tr>

        <tr>

            <td>Micronesia</td>

            <td>1</td>

            <td>0</td>

            <td>1</td>
        </tr>

        <tr>

            <td>Vanuatu</td>

            <td>1</td>

            <td>0</td>

            <td>0</td>
        </tr>


    </table>

    </tr>
    </table>

</div>



<style>

        html {
            scroll-behavior: smooth;
        }

        :root{
            --yellow: #f1d483;
            --green: #9daf9b;
            --purple: #a59aaf;
            --lblue: #6084a3;
            --dblue: #2b425b;
            --gray: #363d47;
        }

        .row{
            margin: auto;
        }

        body{
            animation: fadein 2s;
            -moz-animation: fadein 2s; /* Firefox */
            -webkit-animation: fadein 2s; /* Safari and Chrome */
            -o-animation: fadein 2s; /* Opera */
        }

        @keyframes fadein {
            from {
                opacity:0;
            }
            to {
                opacity:1;
            }
        }
        @-moz-keyframes fadein { /* Firefox */
            from {
                opacity:0;
            }
            to {
                opacity:1;
            }
        }
        @-webkit-keyframes fadein { /* Safari and Chrome */
            from {
                opacity:0;
            }
            to {
                opacity:1;
            }
        }
        @-o-keyframes fadein { /* Opera */
            from {
                opacity:0;
            }
            to {
                opacity: 1;
            }
        }

    </style>

<script src="https://code.jquery.com/jquery-3.2.1.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
